<section class="container">
    <h3>Les Actualites</h3>
    <div class="main-carousel"  data-flickity='{ "contain": true }'>
      {{ $related := .Site.RegularPages.Related . }}
      {{ with $related }}
      {{ $date := where . ".Type" "agenda"}}
      {{ range $date.ByParam "start"}}
      <div class="carousel-cell">
        {{ partial "card.html" . }}
      </div>
      {{ else }}  
      <p> pas de prochaines actualites, vous pouvez contacter l'equipe</p>
    </div>
    {{ end }}
    {{ end }}
</section>
