{{ define "main" }}

<section>
  <div class="hero-image ">
    <img src="{{ .Params.banner }}" alt="{{ .Title }}"> </div>
    <div class="row">
      {{ partial "idcard.html" . }}
      <div class="col s12 m8">
        <section class="container">{{ .Content }}</section>
      </div>
 </div>
 <section class="container">
   <div class=row>
     <h2>Les prochains ateliers</h2>
     {{$identifier := .Params.identifier}}
     {{ range where .Site.Pages ".Params.parent" "$identifier"}}
   {{ .Title }}
 {{ else }}
 <p>Pas d'ateliers contactez-nous</p>
   {{ end }}
   </div>
 </section>
 <section id="documentation" class="container scrollspy">
   <h2>Documentation</h2>
 </section>
</section>

{{ end }}
