/* Custom Stylesheet */

 /* Colors */
 .orange {
   background-color: #ff7f00;  /*rgba(255, 127, 0, 1)  */
 }

 .yellow {
   background-color: #ffd400; /* rgba(255, 212, 0, 1) */
 }

 .light-grey {
   background-color: #ededed; /* rgba(237, 237, 237, 1) */
 }

 .text-light-grey {
   color: #ededed;
 }

 .text-orange {
   color: #ff7f00;
 }

 .dark-grey {
   background-color: #383838; /*  rgba(56, 56, 56, 1) */
 }

 .light-grey-text {
   color: #ededed !important;
 }
 .light-grey-text a {
   color: #ededed !important;
 }
 a {
   color: #383838;
 }

 .tabs .tab a {
   color: #383838
 }

/* font sizes */
h1 { font-size: 4em}
h2 { font-size: 2.4em }
h3 { font-size: 1.7em }

#page-project  h1 {
  font-size: 2.4em;
}
#page-project h2 {
  font-size: 2em;
}
#page-about h1 {
  font-size: 2.4em
}
#page-about h2 {
  font-size: 2em
}
#page-contribute h1 {
  font-size: 2.4em
}
#page-contribute h2 {
  font-size: 1.7em
}

/* FOOTER */

 footer.page-footer {
   background-color: #ededed;
 }

 footer.page-footer .footer-copyright {
   background-color: #383838;
   font-size: 1.7rem;
 }

/* page project single view */
.chip {
  margin-top: 1.2em;
}

/* Gride-like Orange Background */
body {
  background-image: linear-gradient(0deg, transparent 0%, transparent 9px, rgba(255, 255, 255, 0.2) 9px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 19px, rgba(255, 255, 255, 0.1) 19px, rgba(255, 255, 255, 0.1) 20px, transparent 20px, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 39px, rgba(255, 255, 255, 0.1) 39px, rgba(255, 255, 255, 0.1) 40px, transparent 40px, transparent 49px, rgba(255, 255, 255, 0.1) 49px, rgba(255, 255, 255, 0.1) 50px), linear-gradient(-90deg, transparent 0%, transparent 9px, rgba(255, 255, 255, 0.2) 9px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 19px, rgba(255, 255, 255, 0.1) 19px, rgba(255, 255, 255, 0.1) 20px, transparent 20px, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 39px, rgba(255, 255, 255, 0.1) 39px, rgba(255, 255, 255, 0.1) 40px, transparent 40px, transparent 49px, rgba(255, 255, 255, 0.1) 49px, rgba(255, 255, 255, 0.1) 50px);
  background-size: 50px 50px;
}

html {
  background-color: #fff;
}

/* Header Navigation */
.language {
  position: relative;
  left: -150px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}
.social-icons a {
  position: relative;
  padding: 0 0 0;
  display: block;
  transition: none;
  text-decoration: none;
  left: 150px;
}
.social-icon i {
  font-size: 1.7em
}

/* HOME - index-banner */
 #index-banner {
   background: rgba(255, 127, 0, 0.25)
 }
 #index-banner h1 {
   color: white;
 }
 #index-banner h2 {
   color: white;
   font-size: 2.2em;
 }

.hero-catchline {
  padding-top: 3em;
 }

/* HOME - Section Newsletter */
#section-newsletter {
  background-color: #ff7f00;
  color: black
}
input[type=email] {
    background-color: #fff
  }


 /* Parrallax */
.parallax-container p {
  font-size: 1.7em;
}
 .banner-hero .parallax-container {
  min-height: 380px
 }
.parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: #ededed;
   background: rgba(255, 127, 0, 0.45)
 }
.page-project .parallax-container {
  background: rgba(208, 12, 14, 0.45)
}

.page-agenda .parallax-container {
  background: rgba(255, 212, 0, 0.45)
}

.page-atelier .parallax-container {
  background-color: rgba(237, 237, 237, 0.45)
}
.parallax-container .section {
     width: 100vh;
   }
.parallax-container .container {
     padding-top: 0%;
   }
@media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }

@media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }

/* PAGES - Single View Page- Banner-hero */
 .hero-image img {
   max-height: 60vh;
   min-width: 100%;
 }

/* PAGES - List view */
#porteurs, #organisations, #citoyens {
  padding-top: 3em;
}

/* Page About */

ul.menu_horizontal li {
 display : inline;
 padding : 0 0.5em; /* Pour espacer les boutons entre eux */
 }
ul.menu_horizontal {
 list-style-type : none; /* Car sinon les puces se placent n'importe où */
 }
ul.menu_horizontal i {
   font-size: 2em;
   }
.entrepreneur figure {
  float: left;
  top: 30px;
  left: 30px;
  margin: 0;
  margin-top: 20px;
  width: 80px;
  height: 80px;
  background: #f7f4eb;
  border-radius: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
                     }
.steps .illustration{
  position:relative;
  height:16px;
  margin:0 30px
  }

@media screen and (min-width: 64em) and (max-width: 75em){
 .steps .illustration{
   margin:0 20px
}
}

 @media screen and (min-width: 40em) and (max-width: 63.9375em){
   .steps .illustration{
   margin:0 20px
   }
 }
 .steps .illustration .line{
   left:4px;
   right:4px;
   background:#fff;
   position:absolute;
   top:4px;
   height:8px;
   display:block
  }

  .steps .illustration .step{
     display:block;
     width:16px;
     height:16px;
     border:3px solid #fff;
     background:#fff;
     border-radius:100%;
     position:absolute;
     top:0
  }
 .steps .illustration .step.step-1{left:0px}
 .steps .illustration .step.step-2{left:33%}
 .steps .illustration .step.step-3{left:66%;margin-left:-8px}
 .steps .illustration .step.step-4{right:0px}
 .steps .illustration .progress{
   display:block;
   position:absolute;
   height:2px;
   left:4px;
   background:#ffc933;
   width: auto
 }
 .steps .first-done .step-1{background:#ffc933}
 .steps .first-done .progress{right:100%}
 .steps .second-done .step-2{background:#ffc933}
 .steps .second-done .progress{right:66%}
 .steps .third-done .step-3{background:#ffc933}
 .steps .third-done .progress{right:33%}
 .steps .fou3 .progress{right:4px}

/* Cards */
.kind {
  background: #ededed;
  max-width: 50%;
  position: relative;
  margin-top: -30px;
  left: -20px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0 10px;
  display: block;
  float: left;
  height: 24px;
  color: #383838;
}
.kind-title {
  margin-left: 15px;
}

.horaire {
  width: 3.5rem;
  position: relative;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 24px;
  display: block;
  float: right;
  right: -1rem;
  top: -3rem;
  height: 3rem;
  color: #fff;
  text-align: center;
  font-size: 1em;
  padding-top: 0.5rem;
  color: #383838;
}

.btn-date {
  display: inline-block;
  color: #fff;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  left: 75%;
  top: 10%;
  width: 60px;
  height: 60px;
  line-height: 40px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-date .jour {
  position: relative;
  top: -25%;
  text-align: center;
  font-size: 1.5em;
}

.btn-date .mois {
  position: relative;
  top: -80%;
  text-align: center;
}

.card-title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.card-agenda-title {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  font-size: 1.2em;
}
.card-details {
  font-size: 0.90em;
  padding-top: 5px;
}
.card-medium {
  height: 440px;
}
.card-image img {
  width: 240px;
  height: 160px;
}



/* Section Projects */

.nav-pin {
z-index: 1030;
}

/* Masonry Grid */
@media only screen and (min-width: 600px) {
.grid-sizer,
.grid-item { width: 30%; }
}

@media only screen and (max-width : 600px) {
  .grid-sizer,
  .grid-item { width: 90%  }
}


 p {
   line-height: 2rem;
 }

 .button-collapse {
   color: #26a69a;
 }

 .thumb {
   width: 160px;
   height: 120px;
 }

 /* external css: flickity.css */

 .carousel-cell {
   width: 28%;
   margin-right: 1.5rem;
 }

 @media screen and ( max-width: 768px ) {
   /* half-width cells for larger devices */
   .carousel-cell { width: 90%; }
 }

.main-carousel {
  margin-bottom: 3rem;
}
 .button.is-checked {
   background-color: #1d7d74;
 }

.btn-contribute {
   height: 30px;
   width: 30px;
   margin-top: 0.5rem;
 }

 .btn-contribute i {
  position: relative;
  bottom: 0.5rem;
  }

  .team-profile {
    width: 120px;
    height: 120px;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 3.5rem;
    vertical-align: middle;
  }

  .team-social-icon {
      display: inline-block;
      z-index: 1;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: .3s;
      cursor: pointer;
      vertical-align: middle;
      padding-top: 0.3rem;
  }
