{{ partial "header.html" . }}

<div class="hero-image ">
  <img  id="beggining" src="{{ .Site.BaseURL }}img/{{ .Params.imgbg }}" alt="{{ .Title }}">
</div>

<nav class ="nav-pin">
    <div class="nav-wrapper center">
      <div class="col s12">
        <a href="#pitch" class="breadcrumb">Pitch</a>
        <a href="#agenda" class="breadcrumb">Agenda</a>
        <a href="#contribuer" class="breadcrumb">Contribuer</a>
        <a href="#librairie" class="breadcrumb">Librairie</a>
        <a href="#medias" class="breadcrumb">Medias</a>
      </div>
    </div>
  </nav>

<div class="row">
   <div class="col s12 m4">
     <div class="card dark-grey">
       <div class="card-content white-text">
         <span class="card-title">{{ .Title }}</span>
         <div class ="row">
         {{ range .Params.tags}}
         <div class="chip">{{ . }}</div>
         {{ end }}
       </div>
         <p> {{ .Description }} </p>
         <p> {{ .Params.stade }} </p>

<div class="entrepreneur">
  <h5>Porteurs du Projet</h5>
  <div class ="row">
{{ range .Params.porteurs }}
<div class="col s12 m4">
  <figure class="avatar" style='background-image: url("../../img/{{ . | urlize }}.jpg");background-size:cover;background-repeat:none'></figure>
</div>
{{ end }}
</div>
</div>

<div class = "row">
          <h5>Ressources</h5>
         <ul>
           {{ range .Params.documentation}}
           <li> {{ . | markdownify }} </li>
           {{ end }}
         </ul>
</div>

       <div class="steps">
<h5> Etat d'avancement </h5>
          <div class="steps-chart first-done second-done">

            <div class="illustration">
              <span class="line"></span>
              <span class="step step-1"></span>
              <span class="step step-2"></span>
              <span class="step step-3"></span>
              <span class="step step-4"></span>
              <span class="progress"></span>
            </div>

          </div>
</div>
      </div>


       <div class="card-action">
         <a href="#">This is a link</a>
         <a href="#">This is a link</a>
       </div>
</div>
     </div>


   <div class="col s12 m8">
     <div id="pitch" class="container scrollspy">{{ .Content }}</div>
 </div>

 </div>

 <section id="agenda" class="container scrollspy">
   <h4>Agenda</h4>
   <div class="row">
 <div class="col s6 m4">
   <div class="card small">
     <div class="card-image">
       <img src="../../img/guillaume-bagnoli.jpg">
       <span class="card-title">Masterclass - Recherche Citoyenne</span>
     </div>
     <div class="card-content">
       <p>La recherche est une démarche très particulière qui change le monde et permet de prendre confiance.Mais c’est aussi un processus de rigueur, qui suscite de forts débats et des pratiques diverses. Pour en débattre, Guillaume Bagnolini vous présentera les avancées de ses recherches sur l’éthique des sciences et la recherche citoyenne.</p>
     </div>
     <div class="card-action">
       <a href="#">This is a link</a>
     </div>
   </div>
 </div>
 <div class="col s6 m4">
   <div class="card small">
     <div class="card-image">
       <img src="../../img/hackuaponie.jpg">
       <span class="card-title">Session Oxygene</span>
     </div>
     <div class="card-content">
       <p>La M[Y]NE ouvre ses portes au public tous les mercredis et vous attend à partir de 19h pour une visite de ses locaux.</p>
     </div>
     <div class="card-action">
       <a href="#">This is a link</a>
     </div>
   </div>
 </div>

 <div class="col s6 m4">
   <div class="card small">
     <div class="card-image">
       <img src="../../img/background1.jpg">
       <span class="card-title">Atelier Soudé</span>
     </div>
     <div class="card-content">
       <p>I am a very simple card. I am good at containing small bits of information.
       I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
       <a href="#">This is a link</a>
     </div>
   </div>
 </div>
</div>
</section>

<section id="contribuer" class="container scrollspy">
<div class="row">
  <h4>Contribuer</h4>
  <div class= "col s12 m4">
    <ul class="collapsible collection" data-collapsible="accordion">
      <li class="collection-item">Compétences</li>
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Développeur</div>
          <div class="collapsible-body"><p>Développement et cryptographie pour coder smart contract blockchain. Connaissance du language Solidity (similaire au C++) et en administration réseau.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Blockchain et décentralisation</div>
          <div class="collapsible-body"><p>Connaissance théorique et pratique de la blockchain pour mise en application concrète. Connaissance autres outils pour systèmes décentralisés et distribués (ex: IFPS)</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Réseau Electrique</div>
          <div class="collapsible-body"><p>Connaissance du fonctionnement d'un réseau électrique et des mécanismes de distribution et production.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Economie de marché</div>
          <div class="collapsible-body"><p>Connaissance du fonctionnement d'une place de marché et en particulier celui de l'électricité afin de développer un nouveau modèle décentralisé.</p></div>
        </li>

      </ul>
</div>

<div class= "col s12 m4">
  <ul class="collapsible collection" data-collapsible="accordion">
    <li class="collection-item">Matériels</li>
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Capteurs et Compteur Intelligent</div>
        <div class="collapsible-body"><p>Nous recherchons du matériel électroniques servant à capter les données de consommation. Pour l'instant nous utilisons des capteurs CitizenWatt et OpenEnergyMonitor. Arduino, emetteur radio/wifi, raspberry ... sont les bienvenus.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Moyen de production d'éléctricité</div>
        <div class="collapsible-body"><p>Afin de tester grandeur nature le projet nous avons besoin de moyens de production d'énergie (panneau solaire, eolien, methaniseur, ...)</p></div>
      </li>
    </ul>
</div>

<div class= "col s12 m4">
  <ul class="collapsible collection" data-collapsible="accordion">
    <li class="collection-item">Financier</li>
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Capteurs et Compteur Intelligent</div>
        <div class="collapsible-body"><p>Nous recherchons du matériel électroniques servant à capter les données de consommation. Pour l'instant nous utilisons des capteurs CitizenWatt et OpenEnergyMonitor. Arduino, emetteur radio/wifi, raspberry ... sont les bienvenus.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Moyen de production d'éléctricité</div>
        <div class="collapsible-body"><p>Afin de tester grandeur nature le projet nous avons besoin de moyens de production d'énergie (panneau solaire, eolien, methaniseur, ...)</p></div>
      </li>
    </ul>
</div>


  </div>

</section>

<section id="journal" class="container">
  <h4>Journal de Bord</h4>
  <ul class="cbp_tmtimeline">
	<li>
		<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>4/10/13</span> <span>18:30</span></time>
		<div class="cbp_tmicon cbp_tmicon-phone"></div>
		<div class="cbp_tmlabel">
			<h2>Ricebean black-eyed pea</h2>
			<p>Winter purslane...</p>
		</div>
	</li>
	<li>
		<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>4/11/13</span> <span>12:04</span></time>
		<div class="cbp_tmicon cbp_tmicon-screen"></div>
		<div class="cbp_tmlabel">
			<h2>Greens radish arugula</h2>
			<p>Caulie dandelion maize...</p>
		</div>
	</li>
	<li>
		<time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>4/13/13</span> <span>05:36</span></time>
		<div class="cbp_tmicon cbp_tmicon-mail"></div>
		<div class="cbp_tmlabel">
			<h2>Sprout garlic kohlrabi</h2>
			<p>Parsnip lotus root...</p>
		</div>
	</li>
	<li>
		<time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>4/15/13</span> <span>13:15</span></time>
		<div class="cbp_tmicon cbp_tmicon-phone"></div>
		<div class="cbp_tmlabel">
			<h2>Watercress ricebean</h2>
			<p>Peanut gourd nori...</p>
		</div>
	</li>
	<li>
		<time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>4/16/13</span> <span>21:30</span></time>
		<div class="cbp_tmicon cbp_tmicon-earth"></div>
		<div class="cbp_tmlabel">
			<h2>Courgette daikon</h2>
			<p>Parsley amaranth tigernut...</p>
		</div>
	</li>
</ul>
</section>


<section id="librairie" class="container scrollspy">
  <h4>Librairie</h4>
    <div class="row">
  <div class="col s6 m4">
    <div class="card small">
      <div class="card-image">
        <img src="../../img/guillaume-bagnoli.jpg">
        <span class="card-title">Masterclass - Recherche Citoyenne</span>
      </div>
      <div class="card-content">
        <p>La recherche est une démarche très particulière qui change le monde et permet de prendre confiance.Mais c’est aussi un processus de rigueur, qui suscite de forts débats et des pratiques diverses. Pour en débattre, Guillaume Bagnolini vous présentera les avancées de ses recherches sur l’éthique des sciences et la recherche citoyenne.</p>
      </div>
            </div> </div>
  <div class="col s6 m4">
    <div class="card small">
      <div class="card-image">
        <img src="../../img/hackuaponie.jpg">
        <span class="card-title">Session Oxygene</span>
      </div>
      <div class="card-content">
        <p>La M[Y]NE ouvre ses portes au public tous les mercredis et vous attend à partir de 19h pour une visite de ses locaux.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col s6 m4">
    <div class="card small">
      <div class="card-image">
        <img src="../../img/background1.jpg">
        <span class="card-title">Atelier Soudé</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</section>



<div class="container">
  <h2>Basic <small>- with all the navigation options enabled</small></h2>

  <div class="scrollbar">
    <div class="handle">
      <div class="mousearea"></div>
    </div>

  </div>

  <div class="frame" id="basic">
    <ul class="clearfix">
      <li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li>
      <li>10</li><li>11</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li>
      <li>19</li><li>20</li><li>21</li><li>22</li><li>23</li><li>24</li><li>25</li><li>26</li><li>27</li>
      <li>28</li><li>29</li>
    </ul>
  </div>

  <ul class="pages"></ul>

  <div class="controls center">
    <button class="btn prevPage"><i class="icon-chevron-left"></i><i class="icon-chevron-left"></i> page</button>
    <button class="btn prev"><i class="icon-chevron-left"></i> item</button>
    <button class="btn backward"><i class="icon-chevron-left"></i> move</button>

    <div class="btn-group">
      <button class="btn toStart">toStart</button>
      <button class="btn toCenter">toCenter</button>
      <button class="btn toEnd">toEnd</button>
    </div>

    <div class="btn-group">
      <button class="btn toStart" data-item="10"><strong>10</strong> toStart</button>
      <button class="btn toCenter" data-item="10"><strong>10</strong> toCenter</button>
      <button class="btn toEnd" data-item="10"><strong>10</strong> toEnd</button>
    </div>

    <div class="btn-group">
      <button class="btn add"><i class="icon-plus-sign"></i></button>
      <button class="btn remove"><i class="icon-minus-sign"></i></button>
    </div>

    <button class="btn forward">move <i class="icon-chevron-right"></i></button>
    <button class="btn next">item <i class="icon-chevron-right"></i></button>
    <button class="btn nextPage">page <i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></button>
  </div>
</div>


<div class="responsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>



<section id="medias" class= "container scrollspy">
    <div class="carousel">
        <a class="carousel-item" href="{{ .Site.BaseURL }}img/daisee-img1.png"><img src="{{ .Site.BaseURL }}img/daisee-img1.png"></a>
        <a class="carousel-item" href="#two!"><img src="{{ .Site.BaseURL }}img/daisee-img2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="{{ .Site.BaseURL }}img/daisee-img3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="{{ .Site.BaseURL }}img/daisee-img4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="{{ .Site.BaseURL }}img/daisee-img5.jpg"></a>
      </div>
      </section>


{{ partial "footer.html" }}
