{{ define "main" }}

<section class="page-atelier">
{{ partial "banner-hero.html" . }}
    <div class="row">

      <div class="col s12 m8">
        <section class="container">{{ .Content }}</section>
      </div>
    </div>


    <section class="container">
        <div class=row>
            <h3>Documentation et Ressources</h3>
      <div class="main-carousel" data-flickity='{ "contain": true }'>
        {{ $related := .Site.RegularPages.Related . }}
        {{ with $related }}
        <div class="carousel-cell">
          {{ range . }}
          {{ partial "card.html" .}}
        {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    </section>
  </section>
  {{ end }}
