@font-face {
  font-family: 'myne-site-icons';
  src: url('../fonts/myne-site-icons.eot?91513423');
  src: url('../fonts/myne-site-icons.eot?91513423#iefix') format('embedded-opentype'),
       url('../fonts/myne-site-icons.woff2?91513423') format('woff2'),
       url('../fonts/myne-site-icons.woff?91513423') format('woff'),
       url('../fonts/myne-site-icons.ttf?91513423') format('truetype'),
       url('../fonts/myne-site-icons.svg?91513423#myne-site-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'myne-site-icons';
    src: url('../font/myne-site-icons.svg?91513423#myne-site-icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "myne-site-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cc:before { content: '\e800'; } /* '' */
.icon-cc-sa:before { content: '\e801'; } /* '' */
.icon-cc-by:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
