
.icon-cc:before { content: '\e800'; } /* '' */
.icon-cc-sa:before { content: '\e801'; } /* '' */
.icon-cc-by:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */