{{ define "main" }}

<section id = "page-project">
  <div class="hero-image ">
    <img src="{{ .Params.banner }}" alt="{{ .Title }}"> </div>
    <div class="row">
      {{ partial "idcard.html" .}}
      <div class="col s12 m8">
        <section class="container">{{ .Content }}</section>
      </div>
    </div>

    <section class="container">
      <div class=row>
        {{ $related := .Site.RegularPages.Related . }}
        {{ with $related }}
        <h3>Les Ateliers</h3>
        {{ range . }}
        <div class="col s12 m4">
          <div class="card card-agenda">
            <div class="card-image">
              <img class="responsive-img" src="{{ .Params.thumbnail }}" alt="thumbnail">
            </div>
            <div class="card-content">
              <div class="kind"> {{ .Type }}</div>
              <div class="card-agenda-title">{{ .Title | title }}</div>
              <div class="row card-details">
                <p>{{ .Description }}</p>
              </div>
              <div class="row center"><a class="btn" href='{{ .URL }}'>{{ .Site.Params.more }}</a></div>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </section>

    <section id="documentation" class="container scrollspy">
      <h2>Documentation</h2>
    </section>
  </section>
  {{ end }}
