{{ define "main" }}

{{ partial "cover-hero.html" . }}
<section class="row" id="page-about">
   <div class="col s12 m4">
     <div class="card orange" id="idcard">
       <div class="card-content white-text">
         <h1 class="card-title">{{ .Title }}</h1>
         <p class="center"> {{ .Description }} </p>

         <h2>Infos Pratiques</h2>
         <ul>
           {{ range .Params.info }}
           <li>{{ . }}</li>
           {{ end }}
         </ul>

         {{ .Params.address }}

         <div class ="row">
           <div class="entrepreneur">
             <h2>Conseil Collégial</h2>
             <div class ="row">
               {{ range .Params.college }}
               <div class="col s4 m5 l3 center">
                 <figure class="avatar" style='background-image: url("../../img/{{ . | urlize }}.jpg");background-size:cover;background-repeat:none'></figure>
               </div>
               {{ end }}
             </div>
           </div>
         </div>

         <h2>Groupes de Travail</h2>
         <ul>
           {{ range .Params.gt }}
           <li>{{ . }}</li>
           {{ end }}
         </ul>

         <h2>Retrouvez-nous sur:</h2>
         <ul class="menu_horizontal center">
           {{ range .Site.Params.social}}
           <li><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
           {{ end }}
         </ul>
       </div>
     </div>
   </div>


   <section class="col s12 m8">
     <div class="container">{{ .Content }}</div>
   </section>
</section>
<section class="section-home section-contribute">
  <div class="container">
    <div class="main-carousel-fullscreen" data-flickity='{ "contain": true }'>

      <div class="carousel-cell fullscreen">
        {{ $v2 := where .Site.Pages "Section" "contribute"}}
        {{ range where $v2 ".Params.identifier" "citoyens" }}
        <div class="">
          <h2 class="center">{{ .Title | markdownify}}</h2>
          <div class="row center">{{ .Description | markdownify}}</div>
          <div class="row center">
            <div class="col s12 m4">
              <img src="{{ .Params.step1.picto }}" alt="picto">
              <h3>{{ .Params.step1.name }}</h3>
              <ul>
                {{ range .Params.step1.subset }}
                <li>{{ .name }}</li>
                {{ end }}
              </ul>
            </div>

            <div class="col s12 m4">
              <img src="{{ .Params.step2.picto }}" alt="picto">
              <h3>{{ .Params.step2.name }}</h3>
              <ul>
                {{ range .Params.step2.subset }}
                <li>{{ .name }}</li>
                {{ end }}
              </ul>
            </div>

            <div class="col s12 m4">
              <img src="{{ .Params.step3.picto }}" alt="picto">
              <h3>{{ .Params.step3.name }}</h3>
              <ul>
                {{ range .Params.step3.subset }}
                <li>{{ .name }}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="carousel-cell fullscreen">
        {{ $v2 := where .Site.Pages "Section" "contribute"}}
        {{ range where $v2 ".Params.identifier" "porteurs" }}
        <div class="">
          <h2 class="center">{{ .Title | markdownify }}</h2>
          <div class="row center">{{ .Description | markdownify }}</div>

          <div class="row center">
            <div class="col s12 m4">
              <img src="{{ .Params.step1.picto }}" alt="picto">
              <h3>{{ .Params.step1.name }}</h3>
        <ul>
          {{ range .Params.step1.subset }}
          <li>{{ .name }}</li>
              {{ end }}
        </ul>
      </div>

      <div class="col s12 m4">
        <img src="{{ .Params.step2.picto }}" alt="picto">
        <h3>{{ .Params.step2.name }}</h3>
        <ul>
          {{ range .Params.step2.subset }}
          <li>{{ .name }}</li>
              {{ end }}
          </ul>
      </div>

      <div class="col s12 m4">
        <img src="{{ .Params.step3.picto }}" alt="picto">
        <h3>{{ .Params.step3.name }}</h3>
          <ul>
            {{ range .Params.step3.subset }}
            <li>{{ .name }}</li>
                {{ end }}
            </ul>
      </div>
          {{ end }}
      </div>
      </div>
      </div>

    </div>
  </div>
</section>


 {{ end }}
