{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "banner-hero.html" . }}
<section class="row" id="page-about">
   <section class="col s10 m5 offset-s1 l4">
     <div class="card dark-grey" id="idcard">
       <div class="card-content light-grey-text">
         <h1 class="card-title">{{ .Title }}</h1>
         <p class="center"> {{ .Description }} </p>
         <h2> Infos Pratiques </h2>
         <p> {{ .Params.info }} </p>
         <p> {{ .Params.address }} </p>

<div class ="row">
<div class="entrepreneur">
  <h2>Conseil Collégial</h2>
  <div class ="row">
{{ range .Params.college }}
<div class="col s4 m5 l3 center">
  <figure class="avatar" style='background-image: url("../../img/{{ . | urlize }}.jpg");background-size:cover;background-repeat:none'></figure>

</div>
{{ end }}
</div>
</div>
</div>
<h2>Groupes de Travail</h2>
<ul>
  {{ range .Params.gt }}
<li>{{ . }}</li>
{{ end }}
</ul>
<h2>Retrouvez-nous sur:</h2>
<ul class="menu_horizontal center">
  {{ range .Site.Params.social}}
  <li><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
  {{ end }}
</ul>
</div>

</div>
     </section>


<section class="col s12 m7 l8">
  <div class="container">{{ .Content }}</div>
</section>

</section>


 {{ partial "footer.html" . }}
 {{ partial "foot.html" . }}
