{{ define "main" }}

  <section class="section-home-annexe">

    <div class="section">
      <center><h6><a href="https://cloud.lamyne.org/apps/calendar/embed/QfTHWoiYaENKj9es" class="btn waves-effect waves-light dark-grey"><font color="white">Agenda des permanences</font></a></h6></center>
    </div>

    <div class="container">
      <iframe width="100%" height="500px" src="https://cloud.lamyne.org/apps/calendar/embed/4ej7LAtyFKwfFbez"></iframe>
      <h6 align="right">powered by <u><strong><a href="https://nextcloud.com/">NextCloud</a></strong></u> with <u><strong><a href="https://indie.host/">IndieHost</a></strong></u></h6>
    </div>

  </section>

<section class ="container">

    <div class="row">
      <!-- Dropdown Trigger -->
      <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Filter par date</a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class="filters-button-group dropdown-content" data-filter-group="date">
        <li><a href="#!" class="is-checked" data-filter="">tous</a></li>
        <li><a href="#!" data-filter=".future">a venir</a></li>
        <li><a href="#!" data-filter=".past">archive</a></li>
      </ul>

      <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Filtrer par type</a>

      <ul id='dropdown2' class="filters-button-group dropdown-content" data-filter-group="date">

        <li><a href="#!" class="is-checked" data-filter="">tous</a></li>
        <li><a href="#!" class="is-checked" data-filter=".masterclass">masterclass</a></li>
        <li><a href="#!" class="is-checked" data-filter=".atelier">atelier</a></li>
        <li><a href="#!" class="is-checked" data-filter=".rencontre">rencontres</a></li>
      </ul>
    </div>
    <div class="grid">
      <!-- .grid-sizer empty element, only used for element sizing -->
      <div class="grid-sizer">
      </div>
      {{ range (.Data.Pages.ByParam "start").Reverse }}
      {{ if isset .Params "start" }}
      {{$time := time .Params.start}}
      <div class="grid-item element-item {{range .Params.events }} {{ . }} {{ end }} {{ if ge $time now}} future {{ else }} past {{ end }} " data-category="{{range .Params.events }} {{ . }} {{ end }} {{ if ge $time now}} future {{ else }} past {{ end }}">
        {{ partial "card.html" . }}
      </div>
    {{ end }}
    {{ end }}
    </div>

    <div class="grid">
      <!-- .grid-sizer empty element, only used for element sizing -->
      <div class="grid-sizer "></div>
      {{ range (.Data.Pages.ByParam "start").Reverse }}
      {{ if isset .Params "start" }}
      {{$time := time .Params.start}}
      <div class="grid-item element-item {{range .Params.events }} {{ . }} {{ end }} {{ if ge $time now}} future {{ else }} past {{ end }} " data-category="{{range .Params.events }} {{ . }} {{ end }} {{ if ge $time now}} future {{ else }} past {{ end }}">
        {{ partial "card.html" . }}
      </div>
    {{ end }}
    {{ end }}
    </div>
</section>
</body>

{{ end }}
