{{ define "main" }}
<section class="page-project">
{{ partial "cover-hero.html" . }}
</section>

<section class ="container">
  <div class="row">
    <h1>{{ .Title }}</h1>
    <p> {{ .Content }}</p>
  <div class="grid">
    <!-- .grid-sizer empty element, only used for element sizing -->
    <div class="grid-sizer "></div>
    {{ range .Data.Pages }}
    <div class="grid-item">
      {{ partial "card.html" .}}
  </div>
  {{ end }}

    </div>
  </div>
</section>

<section class="section-home section-contribute">
  <div class="container">
    <div class="main-carousel-fullscreen" data-flickity='{ "contain": true }'>

      <div class="carousel-cell fullscreen">
        {{ $v2 := where .Site.Pages "Section" "contribute"}}
        {{ range where $v2 ".Params.identifier" "porteurs" }}
        <div class="">
          <h2 class="center">{{ .Title | markdownify }}</h2>
          <div class="row center">{{ .Description | markdownify }}</div>

          <div class="row center">
            <div class="col s12 m4">
              <img src="{{ .Params.step1.picto }}" alt="picto">
              <h3>{{ .Params.step1.name }}</h3>
        <ul>
          {{ range .Params.step1.subset }}
          <li>{{ .name }}</li>
              {{ end }}
        </ul>
      </div>

      <div class="col s12 m4">
        <img src="{{ .Params.step2.picto }}" alt="picto">
        <h3>{{ .Params.step2.name }}</h3>
        <ul>
          {{ range .Params.step2.subset }}
          <li>{{ .name }}</li>
              {{ end }}
          </ul>
      </div>

      <div class="col s12 m4">
        <img src="{{ .Params.step3.picto }}" alt="picto">
        <h3>{{ .Params.step3.name }}</h3>
          <ul>
            {{ range .Params.step3.subset }}
            <li>{{ .name }}</li>
                {{ end }}
            </ul>
      </div>
          {{ end }}
      </div>
      </div>
      </div>

      <div class="carousel-cell fullscreen">
        {{ $v2 := where .Site.Pages "Section" "contribute"}}
        {{ range where $v2 ".Params.identifier" "citoyens" }}
        <div class="">
          <h2 class="center">{{ .Title | markdownify}}</h2>
          <div class="row center">{{ .Description | markdownify}}</div>
          <div class="row center">
            <div class="col s12 m4">
              <img src="{{ .Params.step1.picto }}" alt="picto">
              <h3>{{ .Params.step1.name }}</h3>
              <ul>
                {{ range .Params.step1.subset }}
                <li>{{ .name }}</li>
                {{ end }}
              </ul>
            </div>

            <div class="col s12 m4">
              <img src="{{ .Params.step2.picto }}" alt="picto">
              <h3>{{ .Params.step2.name }}</h3>
              <ul>
                {{ range .Params.step2.subset }}
                <li>{{ .name }}</li>
                {{ end }}
              </ul>
            </div>

            <div class="col s12 m4">
              <img src="{{ .Params.step3.picto }}" alt="picto">
              <h3>{{ .Params.step3.name }}</h3>
              <ul>
                {{ range .Params.step3.subset }}
                <li>{{ .name }}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


{{ end }}
