<div class="card card-agenda">
  <div class="card-image">
    {{ if isset .Params "start"}}
    {{$time := time .Params.start }}
    {{$month := $time.Month }}
    <div class=" btn-date">
      <p class="jour">{{ $time.Day }}</p>
      <p class="mois">{{ i18n $month }}</p>
    </div>
    {{ end }}
    <img class="responsive-img" src="{{ .Params.thumbnail }}" alt="thumbnail">
  </div>
  <div class="card-content">
    <div class="kind"> {{ .Type }}</div>
    <div class="card-agenda-title">{{ .Title | title }}  </div>
    <div class="row card-details">
      <p>{{ .Description }} </p>
  </div>
  <div class="row center"><a class="btn" href='{{ .URL }}'>{{ .Site.Params.more }}</a></div>
</div>
</div>
