<div class="card card-agenda">
  <div class="card-image">
    {{ if isset .Params "start"}}
    {{$time := time .Params.start }}
    {{$month := $time.Month }}
    <div class=" btn-date">
      <p class="jour">{{ $time.Day }}</p>
      <p class="mois">{{ i18n $month }}</p>
    </div>
    {{ end }}
    <img class="responsive-img" src="{{ .Params.thumbnail }}" alt="thumbnail">
  </div>
  <div class="card-content">
    {{ if isset .Params "start"}}
    {{$time := time .Params.start }}
    <div class="horaire">{{ $time.Hour}}h{{$time.Minute}}</div>
    {{ end }}
    {{ if eq .Type "agenda"}}
    <div class="kind">{{ if isset .Params "events" }}{{ index .Params.events 0 }}{{end}}</div>
    {{ else }}
   <div class="kind"> {{ index .Params.tags 0 }}</div>
   {{ end }}
    <div class="card-agenda-title">{{ .Title | title }}  </div>
    <div class="row card-details">
      <p>{{ .Description }} </p>
  </div>
  <div class="row center"><a class="grey btn-floating halfway-fab waves-effect waves-light" href='{{ .URL }}'><i class="material-icons">add</i></a></div>
</div>
</div>
