<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
  <meta  charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="La MYNE Tiers-Lieu Open Source accompagne les projets d'innovations citoyennes" />
  <title>{{ .Site.Title }}</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet"/>
  <link href="/css/myne-site-icons-codes.css" type="text/css" rel="stylesheet"/>
  <link href="/css/myne-site-icons.css" type="text/css" rel="stylesheet"/>
  <link href="/css/flickity.css" type="text/css" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet"/>
  <script src="/js/modernizr.js"></script>
</head>
