{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id="index-banner">
  <div class="parallax-container center">
    <div class="hero-catchline">
        <h1 class="center">{{ .Title }}<h1>
        <h2>{{ .Site.Params.subtitle }}</h2>
        <div class="row center">
            <h3 class="col s12 center "> {{ .Site.Params.catchline | markdownify }} </h3>
        </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="/img/lamyne.jpg" alt="Projet Hackuaponie"></div>
  </div>
</section>


 <!-- Modal Structure - Pop up window -->

<div href="#modal1" id="modal1" class="modal">
   <div class="modal-content">
     <h1 class="center"> Fabrique tes Communs! </h1>
     <h2 class="center"> La Fabrique lyonnaise des communs 2017 : un nouveau format ! </h2>
     <div align="center">
       <p> Le collectif Lyon en Communs, intégré par La Myne, se donne trois mois pour démocratiser les communs lyonnais dans une perspective écologique et solidaire.
Le but est de trouver ensemble les modes d’actions permettant de pérenniser le développement des communs sur le territoire, afin de les partager avec le plus grand nombre: soutenir les projets existants, permettre plus de visibilité et d’implication dans ces démarches.
De septembre à décembre 2017, ce processus ouvert à tous est rythmé par des rencontres et ateliers réguliers, dont le déroulement est défini collectivement et de manière itérative. La documentation et l’animation de ces ateliers, organisés les 10 et 20 de chaque mois, doivent permettre d’améliorer les synergies autour des acteurs des Communs.
Les 9 et 10 décembre, un événement public aura lieu à la MJC Confluence: ouvert et rassembleur, il mettra en valeur la communauté, l’évolution des projets de communs, et devra permettre de renforcer les potentialités sur le territoire lyonnais. </p>
<p> Relayez cet appel autour de vous, auprès de personnes, structures, réseaux et communautés que cette opportunité pourrait intéresser ! </p>
     <h3 class="center" >Partage et réflexions sur le forum : <a href="https://"> https://lyon.fabriquedescommuns.org </a></h3>
     <h3 class="center" >Pour s'impliquer ou être bénévole : <a href="https://"> contact@fabriquedescommuns.org </a></h3>
     <h3 class="center" >Comptes-rendus & Coordination : <a href="http://"> https://frama.link/communs-lyon-reunions </a></h3>
     <!-- <img class="responsive-img" src="/img/YourCountryNeedsYou.jpg" alt="YOU NEED YOU"> -->
     </div>
   </div>
</div>


<section id="section-offer">
  <div class="container">
    <div class="section">

      <div class="row">
        {{ range .Site.Params.mission }}
        <div class="col s12 m4">
          <div class="row center">
            <img src="{{ .picto }}">
            </div>

            <h3 class="center"><a href="{{ .link }}">{{ .title }}</a></h3>

            <p class="light">{{ .description }}</p>

        </div>
        {{ end }}
      </div>

    </div>
  </div>
</section>

<section>
<div class="parallax-container valign-wrapper home-hero">
        <div class="row center">
        <div class="col s8 offset-s2">
        <p>{{ range .Site.Params.catchlinehero }} {{ .content | markdownify }}</p>
      <div class="row">
        <a href="{{ .link }}" class="btn-large waves-effect waves-light orange">{{ .calltoaction }}</a>
        <p><a href="https://www.helloasso.com/associations/la-paillasse-saone/adhesions/adhesions-la-myne-2017" class="btn-large waves-effect waves-light black">Adhérer</a></p>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="parallax"><img src="/img/background2.jpg" alt="La MYNE, un espace pour tous"></div>
</div>
</section>

<section id="section-actus">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h2>{{ .Site.Params.news }}</h2>
      </div>
    </div>

    <div class="row">
      {{ range where .Data.Pages ".Params.home" "yes" }}
      <div class="col s12 m4">
        <div class="card card-medium">
          <div class="card-image">
            <img src="{{ .Params.thumbnail }}" alt="thumbnail">
          </div>
          <div class="card-content">
            <div class="kind">{{ .Params.theme }}</div>
            <div class="card-agenda-title">{{ .Title }}</div>
            <div class="row card-details">
              <p>{{ .Description }} </p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section>
  <div class="parallax-container valign-wrapper">
      <div class="container">
        <div class="row center">
          <div class="col s8 offset-s2">
          <p>{{ range .Site.Params.ecosystem }} {{ .content | markdownify }}{{ end }}</p>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ .Site.BaseURL }}img/background3.jpg" alt="background img 3"></div>
  </div>
</section>

<section id="section-events">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h2>{{ .Site.Params.event }}</h2>
        </div>
      </div>
      <div class="row">
        {{ range where .Data.Pages ".Params.section" "agenda" }}
        {{ if eq .Params.featured "yes" }}
          <div class="col s12 m4">
            <div class ="center"><img class="thumb" src="{{ .Params.logo }}" alt="{{ .Title }}"></div>
              <h3 class="center">{{ .Title }}</h3>
                <p class="light"> {{ .Params.description }}</p>
            </div>
         {{ end }}
         {{ end }}
       </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
	<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=1es2mhb9dqbisemc5bbnpa1uo8%40group.calendar.google.com&amp;color=%23B1440E&amp;src=vp15sr8j80a0tee88ktcsalfos%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=fr.french%23holiday%40group.v.calendar.google.com&amp;color=%23182C57&amp;src=e_2_fr%23weeknum%40group.v.calendar.google.com&amp;color=%2342104A&amp;ctz=Europe%2FParis" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no">
  </iframe>
  </div>
</section>



<!--
<section class="partenaires">
  <div class="container center">
    <div class ="row">
<h2>{{ range .Site.Params.ecosystem }} {{ .title | markdownify }}{{ end }}</h2>
</div>
<div class="row">
  {{ range .Site.Params.partners }}
  <div class="col s4"><a href="{{ .link }}"><img class="responsive-img" src="{{ .logo }}" alt="logo"></a></div>
{{ end }}
</div>
</div>
</section>
 -->

{{ partial "footer.html" . }}
{{ partial "foot.html" }}
