{{ partial "head.html" . }}
{{ partial "header.html" . }}
<section id="index-banner">
  <div class="parallax-container center">
    <div class=" hero-catchline">
        <h1 class="center">{{ .Title }}<h1>
        <h2>{{ .Site.Params.subtitle }}</h2>
        <div class="row center">
            <h3 class="col s12 center "> {{ .Site.Params.catchline | markdownify }} </h3>
          </div>

    </div>
    <div class="parallax"><img class="responsive-img" src="/img/hackuaponie.jpg" alt="Projet Hackuaponie"></div>
  </div>
</section>


<section id="section-offer">
  <div class="container">
    <div class="section">

      <div class="row">
        {{ range .Site.Params.mission }}
        <div class="col s12 m4">
          <div class="row center">
            <img src="{{ .picto }}">
            </div>

            <h3 class="center"><a href="{{ .link }}">{{ .title }}</a></h3>

            <p class="light">{{ .description }}</p>

        </div>
        {{ end }}
      </div>

    </div>
  </div>
</section>

<div class="parallax-container valign-wrapper home-hero">
        <div class="row center">
        <div class="col s8 offset-s2">
        <p>{{ range .Site.Params.catchlinehero }} {{ .content | markdownify }}</p>
      <div class="row">
        <a href="{{ .link }}" class="btn-large waves-effect waves-light orange">{{ .calltoaction }}</a>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="parallax"><img src="/img/background2.jpg" alt="La MYNE, un espace pour tous"></div>
</div>

<section id="section-events">
  <div class="container">
    <div class="section">
            <div class="row">
              <div class="col s12 center">
                <h2>{{ .Site.Params.event }}</h2>
              </div>
            </div>
            <div class="row">
              {{ range where .Data.Pages ".Params.section" "agenda" }}
              {{ if eq .Params.featured "yes" }}
              <div class="col s12 m4">
                  <div class ="center"><img class="thumb" src="{{ .Params.logo }}" alt="{{ .Title }}"></div>
                  <h3 class="center">{{ .Title }}</h3>
                  <p class="light"> {{ .Params.description }}</p>
              </div>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </section>

<section id="section-newsletter" class="row">
        <div class="col s12 center">
          <h2>{{ .Site.Params.newsletter }}</h2>
        </div>

        <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
      <form action="//lamyne.us13.list-manage.com/subscribe/post?u=761a33343dfb487e0fbf19530&amp;id=c545bdbdd9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

      <div class="mc-field-group">
      	<label for="mce-EMAIL">Email Address </label>
      	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      	<div id="mce-responses" class="clear">
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
      	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_761a33343dfb487e0fbf19530_c545bdbdd9" tabindex="-1" value=""></div>
          <div class="clear center"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

</section>

<section id="section-actus">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h2>{{ .Site.Params.news }}</h2>
      </div>
    </div>

    <div class="row">
      {{ range where .Data.Pages ".Params.home" "yes" }}
      <div class="col s12 m4">
        <div class="card card-medium">
          <div class="card-image">
            <img src="{{ .Params.thumbnail }}" alt="thumbnail">
          </div>
          <div class="card-content">
            <div class="kind">{{ .Params.theme }}</div>
            <div class="card-agenda-title">{{ .Title }}</div>
            <div class="row card-details">
              <p>{{ .Description }} </p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section>
  <div class="parallax-container valign-wrapper">
      <div class="container">
        <div class="row center">
          <div class="col s8 offset-s2">
          <p>{{ range .Site.Params.ecosystem }} {{ .content | markdownify }}{{ end }}</p>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ .Site.BaseURL }}img/background3.jpg" alt="background img 3"></div>
  </div>
</section>

<section class="partenaires">
  <div class="container center">
    <div class ="row">
<h2>{{ range .Site.Params.ecosystem }} {{ .title | markdownify }}{{ end }}</h2>
</div>
<div class="row">
  {{ range .Site.Params.partners }}
  <div class="col s4"><a href="{{ .link }}"><img class="responsive-img" src="{{ .logo }}" alt="logo"></a></div>
{{ end }}
</div>
</div>
</section>

{{ partial "footer.html" . }}
{{ partial "foot.html" }}
