{{ define "main" }}
<section class="section is-color-1 has-text-white is-narrow has-text-centered">
  <section class="container center">
    <div class="columns">
      <div class="column is-half-desktop is-three-quarters-mobile is-offset-one-quarter-desktop">
        <h1>BIENVENUE SUR LE SITE DE LA MYNE</h1>
        <p>La MYNE est un laboratoire citoyen, tiers-lieu(x) libre et open source à Villeurbanne (Métropole de Lyon). Sa vocation : soutenir les citoyen.ne.s qui expérimentent le futur et agissent sur les transitions (habitat, alimentation, énergie, etc.), chacun.e à sa façon (technique, art, science...).</p>
      </div>
    </div>
  </section>
  
  <div class="container home-menu">
    <div class="columns">
      <div class="column center">
        <h2>ACCÉDER À L'AGENDA<br>NOUS RENCONTRER</h2>
        <figure class="image has-image-centered is-128x128">
            <a href="/agenda">
            <img  class="has-text-centered" alt="agenda.lamyne.org" src="/img/picto-house.svg">
          </figure>
        </a>
      </div>
      
      <div class="column center">
        <h2>Découvrir<br>Adhérer</h2>
        <figure class="image has-image-centered is-128x128">
            <a href="/contribute">
            <img  class="has-text-centered" alt="contribute.lamyne.org" src="/img/picto-experiment-white.svg">
            </a>
          </figure>
      </div>

      <div class="column center">
        <h2>Lire les Ressources <br>Explorer</h2>
        <figure class="image has-image-centered is-128x128">
            <a href="/documentation">
            <img  class="has-text-centered" alt="ressources.lamyne.org"  src="/img/picto-fork.svg/">
            </a>
          </figure>
      </div>
    </div>
  </div>
</section>

{{ end }}
