{{ define "main" }}
<section class="home" style="background: #fe7e00ff;color:#ffffff">
  <section class="container center">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <h1>BIENVENUE SUR LE SITE DE LA MYNE</h1>
        <p>La MYNE est un laboratoire citoyen, tiers-lieu(x) libre et open source à Villeurbanne (Métropole de Lyon). Sa vocation : soutenir les citoyen.ne.s qui expérimentent le futur et agissent sur les transitions (habitat, alimentation, énergie, etc.), chacun.e à sa façon (technique, art, science...).</p>
      </div>
    </div>
  </section>
  
  <div class="container home-menu">
    <div class="columns">
      <div class="column center">
        <h2>ACCÉDER À L'AGENDA<br>NOUS RENCONTRER</h2>
        <a href="agenda" target="_blank"><center><img alt="agenda.lamyne.org" title="" src="/img/picto-house.svg"></center></a>
      </div>
      
      <div class="column center">
        <h2>Découvrir<br>Adhérer</h2>
        <a href="contribute" target="_blank"><center><img alt="communaute.lamyne.org" title="" src="/img/picto-experiment-white.svg"></center></a>
      </div>

      <div class="column center">
        <h2>Lire les Ressources <br>Explorer</h2>
        <a href="documentation" target="_blank"><center><img alt="ressources.lamyne.org" title="" height="auto" src="/img/picto-fork.svg"></center></a>
      </div>
    </div>
  </div>
</section>

{{ end }}
