{{ define "main" }}

{{ partial "banner-hero.html" . }}
<section class ="container">
  <div class="row">
    <h1>{{ .Title }}</h1>
    <p> {{ .Content }}</p>
  </div>
  <div class="row">
    <h2>Retrouvez tous nos evenements</h2>

<div class="button-group filters-button-group" data-filter-group="date">
  <button class="btn button is-checked" data-filter="*">tous</button>
    <button class="btn button" data-filter=".future">future</button>
    <button class="btn button" data-filter=".past">past</button>
</div>

<div class="button-group filters-button-group" data-filter-group="kind">
  <button class="btn button is-checked" data-filter="*">tous</button>
  <button class="btn button" data-filter=".masterclass">masterclasses</button>
  <button class="btn button" data-filter=".atelier">ateliers</button>
  <button class="btn button" data-filter=".rencontre">rencontres</button>

</div>

    <div class="grid">
      <!-- .grid-sizer empty element, only used for element sizing -->
      <div class="grid-sizer "></div>
      {{ range (.Data.Pages.ByParam "start") }}
      {{ if isset .Params "start" }}
      {{$time := time .Params.start}}
      <div class="grid-item element-item {{range .Params.events }} {{ . }} {{ end }} {{ if ge $time now}} future {{ else }} past {{ end }} " data-category="{{range .Params.events }} {{ . }} {{ end }} {{ if ge $time now}} future {{ else }} past {{ end }}">
        <div class="card card-agenda">
          <div class="card-image">
            <div class=" btn-date">
              <p class="jour">{{ $time.Day }}</p>
              <p class="mois">{{ $time.Month }}</p>
            </div>
            <img class="responsive-img" src="{{ .Params.thumbnail }}" alt="thumbnail">
          </div>
          <div class="card-content">
            <div class="kind"> {{ .Type }}</div>
            <div class="card-agenda-title">{{ .Title | title }}  </div>
            <div class="row card-details">
              <p>{{ .Description }} </p>
              <div class="divider"></div>
              <div class=row>
                <p>{{ .Params.start | dateFormat "Monday, 2. Jan. 2006"}}</p>
              </div>
          </div>
          <div class="row center"><a class="btn" href='{{ .URL }}'>{{ .Site.Params.more }}</a></div>
        </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
      </div>
    </div>
</section>

{{ end }}
