{{ define "main" }}

{{ partial "banner-hero.html" . }}
<section class ="container">
  <div class="row">
    <h1>{{ .Title }}</h1>
    <p> {{ .Content }}</p>
  </div>

  <div class="row">
    <h2>Retrouvez nous regulierement pour:</h2>
  <div class="grid">
    <!-- .grid-sizer empty element, only used for element sizing -->
    <div class="grid-sizer "></div>
    {{ range where .Data.Pages ".Params.recurring" "yes" }}
    <div class="grid-item">
      <div class="card card-agenda">
        <div class="card-image">
          <img class="responsive-img" src="{{ .Params.thumbnail }}" alt="thumbnail">
        </div>
        <div class="card-content">
          <div class="kind"> {{ .Type }}</div>
          <div class="card-agenda-title">{{ .Title | title }}  </div>
          <div class="row card-details">
            <p>{{ .Description }} </p>
        </div>
        <div class="row center"><a class="btn" href='{{ .URL }}'>{{ .Site.Params.more }}</a></div>
      </div>
      </div>
  </div>
  {{ end }}
    </div>
  </div>

  <div class="row">
    <h2>Ou pour nos prochaines rencontres:</h2>
    <div class="grid">
      <!-- .grid-sizer empty element, only used for element sizing -->
      <div class="grid-sizer "></div>
      {{ range where .Data.Pages ".Params.recurring" "no"  }}
      <div class="grid-item">
        <div class="card card-agenda">
          <div class="card-image">
            <img class="responsive-img" src="{{ .Params.thumbnail }}" alt="thumbnail">
          </div>
          <div class="card-content">
            <div class="kind"> {{ .Type }}</div>
            <div class="card-agenda-title">{{ .Title | title }}  </div>
            <div class="row card-details">
              <p>{{ .Description }} </p>
          </div>
          <div class="row center"><a class="btn" href='{{ .URL }}'>{{ .Site.Params.more }}</a></div>
        </div>
        </div>
    </div>
    {{ end }}
      </div>

</section>

{{ end }}
