{{ define "main" }}

<section class="section is-narrow">
  <div class="container has-text-centered">
    <h1>{{ .Title }}</h1>
    <p> {{ .Content }}</p>
<p>Pour savoir ce qu'il se passe à la MYNE prochainement, vous pouvez :</p>
<p> - Consultez <a href="https://cloud.lamyne.org/apps/calendar/embed/4ej7LAtyFKwfFbez">l'agenda des activités</a> à la MYNE ou dans l'écosystème</p>
<p> - Suivre & contribuer sur des temps dans le <a href="https://chat.lamyne.org/channel/evenements">canal #evenements du chat</a></p>
    
  </div></section>
{{ end }}
