{{ define "main" }}

<section class="section is-narrow">
  <div class="container has-text-centered">
    <h1>{{ .Title }}</h1>
    <p> {{ .Content }}</p>
    <p class="has-text-centered"><strong>La MYNE est en train de mourir</strong></p>
 
    <a class="has-text-white" href="https://cloud.lamyne.org/apps/calendar/embed/4ej7LAtyFKwfFbez"><button
        class="button is-color-4 has-text-white">Agenda des Activités</a></button>
    <a class="has-text-white" href="https://cloud.lamyne.org/apps/calendar/embed/QfTHWoiYaENKj9es"><button
        class="button is-color-4 has-text-white">Agenda des Accueils</a></button>
  </div>
</section>
{{ end }}
