{{ define "main" }}

<section class="section">
  <div class="container">
    <p class="has-text-centered"><strong>La MYNE est un laboratoire de recherche pour les citoyen.ne.s qui expérimentent
        les futurs</strong></p>
    <p class="has-text-centered"><strong>#Anthropocene #Transitions #TiersLieux #Communs</strong></p>
    <iframe width="100%" height="360"
      src="https://videos.lescommuns.org/videos/embed/a7fe81c1-f4f5-4841-81c3-7d34b717044f" frameborder="0"
      allowfullscreen></iframe>
    <p class="is-right">powered by <u><strong><a href="https://joinpeertube.org/en/home/">PeerTube</a></strong></u> with
      <u><strong><a href="http://lescommuns.org/">lescommuns.org</a></strong></u></p>
    <p class="is-right"><u><strong><a href="https://alternatiba.eu/rhone/alternatv/">AlternaTV</a></strong></u> with
      love</p>
        <iframe style="border: 0; width: 100%; height: 100%;" src="https://bandcamp.com/EmbeddedPlayer/album=3463108327/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://lamyne.bandcamp.com/album/rapport-dactivit-audio-2019">Rapport d&#39;activité audio 2019 by La MYNE</a></iframe>
  </div>

  <div class="container has-text-centered">
    <button class="button is-color-4"><a class="has-text-white" href="https://movilab.org/wiki/La_MYNE">En savoir
        plus</a></button>
    <button class="button is-color-1">
      <a href="https://www.helloasso.com/associations/la-myne/adhesions/adhesions-dons-2024"
        class="has-text-white">Adhérer</font></a></button>
  </div>

</section>

<section class="section is-narrow is-color-3">
  <div class="columns has-text-centered">
    <div class="column">
      <h2>Espaces, Rencontres et Partages</h2>
      <p>Mutualiser ses espaces, physiques et virtuels, pour se rencontrer, échanger, partager, travailler et
        expérimenter.</p>
    </div>
    <div class="column">
      <h2>Recherche et Expérimentation</h2>
      <p>Explorer, investiguer et adresser des questions complexe de société en transition(s) par la recherche-action.
      </p>
    </div>
    <div class="column">
      <h2>Contribution et Autonomisation</h2>
      <p>Emanciper par le faire et participer de la construction d'un patrimoine (informationnel) commun facilitant
        l'autonomisation.</p>
    </div>
  </div>
  <div class="columns has-text-centered">
    <div class="column">
      <button class="button is-color-4"><a class="has-text-white" href="https://chat.lamyne.org/">Echanger avec
          nous</a></button>
    </div>
    <div class="column">
      <button class="button is-color-4"><a class="has-text-white" href="/project">Explorer les projets</a></button>
    </div>
    <div class="column">
      <button class="button is-color-4"><a class="has-text-white" href="/documentation">Voir la
          documentation</a></button>
    </div>
  </div>
</section>

<section class="">
  <div class="section">
    <h1 class="has-text-centered">Retrouvez-nous</h1>
    <div class="columns is-mobile has-text-centered">
      <div class="column is-4 is-offset-2">
        <h2>Apéros Projets</h2>
        <p>Se rencontrer et parler des projets passés, en cours ou à venir autour d'un verre. Avec plaisir pour échanger
          sur vos idées dans un cadre convivial</p>
      
      </div>
      <div class="column is-4">
        <h2>Sessions Ox[Y]Gen</h2>
        <p>Nous vous accueillons lors de nos ouvertures publiques,
          dites Ox[Y]Gen, à la MYNE. Retrouvez les dates dans <a href="https://cloud.lamyne.org/apps/calendar/embed/QfTHWoiYaENKj9es">l'agenda</a> ou contactez nous pour programmer une visite.</p>
       
      </div>
    </div>
    <div class="columns is-mobile has-text-centered">
      <div class="column is-4 is-offset-2">
        <figure class="image  has-image-centered is-96x96 has-text-centered">
          <img class="has-text-centered" src="/img/apero-projet-logo.svg" />
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image has-image-centered is-96x96">
          <img class="has-text-centered" alt="agenda.lamyne.org" title="" height="auto" src="/img/oxygene-logo.svg" />
        </figure>
      </div>
    </div>
  </div>
</section>
{{ end }}
