{{ define "main" }}

<div class="banner-hero">
<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <img src="/img/contribute-banner.jpg" alt="Banner Contribute">
  </div>
</div>
</div>

<section class="row" id="page-contribute">
    <div class="col s12">
      <ul class="tabs">
        {{ range .Data.Pages }}
        <li class="tab col s3"><a href="#{{ .Params.identifier }}">{{ .Params.name }}</a></li>
{{ end }}
      </ul>
    </div>

    <section id="porteurs" class="col s12">
      {{ range where .Data.Pages ".Params.identifier" "porteurs" }}
      <div class="container">
      <div class="row center">
        {{ .Description | markdownify }}
    </div>

    <h1 class="center">{{ .Title | markdownify }}</h1>


    <div class="row center">
      <img src="{{ .Params.step1.picto }}" alt="picto">
      <h2>{{ .Params.step1.name }}</h2>
      <ul>
        {{ range .Params.step1.subset }}
        <li>{{ .name }}</li>
            {{ end }}
      </ul>
    </div>

    <div class="row center">
      <img src="{{ .Params.step2.picto }}" alt="picto">
      <h2>{{ .Params.step2.name }}</h2>
      <ul>
        {{ range .Params.step2.subset }}
        <li>{{ .name }}</li>
            {{ end }}
        </ul>
    </div>

    <div class="row center">
      <img src="{{ .Params.step3.picto }}" alt="picto">
      <h2>{{ .Params.step3.name }}</h2>
        <ul>
          {{ range .Params.step3.subset }}
          <li>{{ .name }}</li>
              {{ end }}
          </ul>
    </div>
        {{ end }}
</div>

  </section>

    <section id="citoyens" class="col s12">
      {{ range where .Data.Pages ".Params.identifier" "citoyens" }}
      <div class="container">
      <div class="row center">
        {{ .Description | markdownify}}
    </div>

    <h1 class="center">{{ .Title | markdownify}}</h1>


    <div class="row center">
      <img src="{{ .Params.step1.picto }}" alt="picto">
      <h2>{{ .Params.step1.name }}</h2>
      <ul>
        {{ range .Params.step1.subset }}
        <li>{{ .name }}</li>
            {{ end }}
      </ul>
    </div>

    <div class="row center">
      <img src="{{ .Params.step2.picto }}" alt="picto">
      <h2>{{ .Params.step2.name }}</h2>
      <ul>
        {{ range .Params.step2.subset }}
        <li>{{ .name }}</li>
            {{ end }}
        </ul>
    </div>

    <div class="row center">
      <img src="{{ .Params.step3.picto }}" alt="picto">
      <h2>{{ .Params.step3.name }}</h2>
        <ul>
          {{ range .Params.step3.subset }}
          <li>{{ .name }}</li>
              {{ end }}
          </ul>
    </div>
        {{ end }}
</div>
  </section>

    <section id="organisations" class="col s12">
            {{ range where .Data.Pages ".Params.identifier" "organisations" }}
      <div class="container">
        <div class="row">
    {{ .Content }}
  </div>
</div>
{{ end }}
</section>
</section>

{{ end  }}
