{{ define "main" }}
<section class="page-atelier">
{{ partial "banner-hero.html" . }}
</section>

<section class ="container">
  <div class="row">
    <h1>{{ .Title }}</h1>
    <p> {{ .Content }}<p>
  <div class="grid">
    <!-- .grid-sizer empty element, only used for element sizing -->
    <div class="grid-sizer "></div>
    {{ range .Data.Pages }}
    <div class="grid-item">
      <div class="card light-grey">
        <div class="card-content">
          <span class="card-title">{{.Title}}</span>
        </div>
        <div class="row center">
          <a class="grey btn-floating halfway-fab waves-effect waves-light" href='{{ .URL }}'><i class="material-icons">add</i></a>
        </div>
      </div>
  </div>
  {{ end }}

    </div>
  </div>
</section>

{{ end }}
