{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "banner-hero.html" . }}

<div class ="container">
  <div class = "row">
  {{ range .Data.Pages }}
<div class="col s6 m4">
  <div class="card card-agenda">
    <div class="card-image">
      <img src=" {{ .Params.image }}">
    </div>
    <div class="card-content">
      <div class="kind"></div>
      <div class="card-agenda-title">{{ .Params.name }}</div>
      <div class="row card-details">
        <p> {{ .Params.hashtag }}</p>
        <ul>
          <li>{{ .Params.twitter }}</li>
          <li>{{ .Params.linkedin }}</li>
          <li>{{ .Params.github }}</li>
          <li>{{ .Params.website }}</li>
        </ul>
    </div>
    <div class="row center">En savoir plus</div>
  </div>
  </div>
</div>
{{ end }}
</div>
</div>


{{ partial "footer.html" . }}
{{ partial "foot.html" }}
